<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="description" content="" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title>Essence - Fashion Ecommerce Template</title>

    <!-- Favicon  -->
    <link rel="icon" href="img/core-img/favicon.ico" />

    <!-- Core Style CSS -->
    <link rel="stylesheet" href="css/core-style.css" />

    <style>
        .profile-sidebar {
            text-align: center;
            padding: 10px;
            background-color: #f8f9fa;
            border-radius: 10px;
        }

        .profile-options {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        .profile-options li {
            margin-bottom: 10px;
        }

        .profile-options a {
            text-decoration: none;
            display: block;
            padding: 10px 20px;
            border-radius: 20px;
            color: #495057;
            transition: background-color 0.3s;
        }

        .profile-options a:hover {
            background-color: #e9ecef;
        }

        .profile-options a.active {
            background-color: #000;
            color: #fff;
        }

        .user-details {
            padding: 20px;
            background-color: #f8f9fa;
            border-radius: 10px;
        }

        .address-remove {
            border: 0px;
            background: none;
        }

        .address-remove:hover {
            cursor: pointer;
            color: #0315ff;
        }

        .address-remove:focus {
            outline: 0px;
        }

        .address-edit {
            border: 0px;
            background: none;
        }

        .address-edit:hover {
            cursor: pointer;
            color: #0315ff;
        }

        .address-edit:focus {
            outline: 0px;
        }

        .radio-box {
            display: flex;
            margin-bottom: 10px;
        }

        .radio-label {
            padding: 10px 15px;
            margin: 2px;
            border-radius: 25px;
            /* Adjust the border-radius for the capsule shape */
            cursor: pointer;
            transition: background-color 0.3s ease;
            background-color: #fff;
            /* Blue for unselected state */
            color: #000;
            border: 1px solid #000;
        }

        .radio-box .disabled {
            border: 0px;
            background-color: #ccc;
            /* Change the background color for disabled state */
            cursor: not-allowed;
        }

        /* Hide the actual radio buttons */
        input[type="radio"] {
            display: none;
        }

        .radio-box input[type="radio"]:checked+label {
            /* Styles for the checked radio button */
            background-color: #000;
            /* Black for selected state */
            color: #fff;
        }
    </style>
</head>

<body>
    <!-- ##### Header Area Start ##### -->
    <header class="header_area">
        <div class="classy-nav-container breakpoint-off d-flex align-items-center justify-content-between">
            <!-- Classy Menu -->
            <nav class="classy-navbar" id="essenceNav">
                <!-- Logo -->
                <a class="nav-brand" href="/"><img src="/img/core-img/logo.png" alt="" /></a>
                <!-- Navbar Toggler -->
                <div class="classy-navbar-toggler">
                    <span class="navbarToggler"><span></span><span></span><span></span></span>
                </div>
                <!-- Menu -->
                <div class="classy-menu">
                    <!-- close btn -->
                    <div class="classycloseIcon">
                        <div class="cross-wrap">
                            <span class="top"></span><span class="bottom"></span>
                        </div>
                    </div>
                    <!-- Nav Start -->
                    <div class="classynav">
                        <ul>
                            <li><a href="/shop">Shop</a></li>
                            <li><a href="blog.html">Blog</a></li>
                            <li><a href="contact.html">Contact</a></li>
                        </ul>
                    </div>
                    <!-- Nav End -->
                </div>
            </nav>

            <!-- Header Meta Data -->
            <div class="header-meta d-flex clearfix justify-content-end">
                <!-- Search Area -->
                <div class="search-area">
                    <form action="#" method="post">
                        <input type="search" name="search" id="headerSearch" placeholder="Type for search" />
                        <button type="submit">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </button>
                    </form>
                </div>
                <div class="favourite-area">
                    <a href="#"><img src="/img/core-img/heart.svg" alt="" /></a>
                </div>

                <!-- User Login Info -->
                <div class="user-login-info">
                    <a href="/profile"><img src="/img/core-img/user.svg" alt="" /></a>
                </div>
                <!-- Cart Area -->
                <div class="cart-area">
                    <a href="/cart" id="essenceCartBtn"><img src="/img/core-img/bag.svg" alt="" />
                        <!-- <span>3</span> -->
                    </a>
                </div>
                <div class="sign-in-area">
                    <a href="/logout">Logout</a>
                </div>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->

    <!-- ##### Checkout Area Start ##### -->
    <div class="profile-page section-padding-80">
        <div class="container">
            <div class="row">
                <!-- Sidebar Section -->
                <div class="col-12 col-md-5 col-lg-3">
                    <div class="profile-sidebar">
                        <ul class="list-unstyled profile-options">
                            <li><a href="/profile">Account</a></li>
                            <li><a href="#">Change Password</a></li>
                            <li><a href="/orders">Order History</a></li>
                            <li><a href="#">Track Order</a></li>
                            <li><a href="#">Shopping Cart</a></li>
                            <li><a href="#">Wishlist</a></li>
                            <li><a href="/address" class="active">Address</a></li>

                            <li><a href="/add-address">Add Address</a></li>
                            <li><a href="#">Wallet</a></li>
                            <li><a href="#">Logout</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-12 col-md-7 col-lg-9">
                    <div class="row addresses-container">
                        <% if (addresses.length<1 ) { %>
                            <div class="col text-center">
                                <h5>NO ADDRESS!</h5>
                                <hr>
                            </div>

                            <% } else { %>
                                <% addresses.forEach(address=> { %>
                                    <div class="col-12 col-lg-6 mb-2 single-address">
                                        <div class="card card-dashboard">
                                            <div class="card-body">
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <h3 class="card-title mb-0">Delivery Address</h3>
                                                    <button class="btn-remove address-remove"
                                                        data-addressid="<%= address._id %>">
                                                        <i class="fa fa-close"></i>
                                                    </button>
                                                </div>
                                                <p>
                                                    <%= address.fullname %><br />
                                                        <%= address.mobile %><br />
                                                            <%= address.address %><br />
                                                                <%= address.pincode %><br />
                                                                    <%= address.street %>, <%= address.city %>, <%=
                                                                                address.state %><br />
                                                </p>
                                                <button type="button" onclick="editAddress('<%= address._id %>')"
                                                    class="edit-address-btn address-edit">
                                                    Edit <i class="fa fa-edit"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <% }) %>
                                        <% } %>
                    </div>
                </div>

                <!-- User Details Section -->
            </div>
        </div>
    </div>

    <!-- ##### Checkout Area End ##### -->

    <!-- ##### Footer Area Start ##### -->
    <footer class="footer_area clearfix">
        <div class="container">
            <div class="row">
                <!-- Single Widget Area -->
                <div class="col-12 col-md-6">
                    <div class="single_widget_area d-flex mb-30">
                        <!-- Logo -->
                        <div class="footer-logo mr-50">
                            <a href="#"><img src="img/core-img/logo2.png" alt="" /></a>
                        </div>
                        <!-- Footer Menu -->
                        <div class="footer_menu">
                            <ul>
                                <li><a href="shop.html">Shop</a></li>
                                <li><a href="blog.html">Blog</a></li>
                                <li><a href="contact.html">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Single Widget Area -->
                <div class="col-12 col-md-6">
                    <div class="single_widget_area mb-30">
                        <ul class="footer_widget_menu">
                            <li><a href="#">Order Status</a></li>
                            <li><a href="#">Payment Options</a></li>
                            <li><a href="#">Shipping and Delivery</a></li>
                            <li><a href="#">Guides</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Terms of Use</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row align-items-end">
                <!-- Single Widget Area -->
                <div class="col-12 col-md-6">
                    <div class="single_widget_area">
                        <div class="footer_heading mb-30">
                            <h6>Subscribe</h6>
                        </div>
                        <div class="subscribtion_form">
                            <form action="#" method="post">
                                <input type="email" name="mail" class="mail" placeholder="Your email here" />
                                <button type="submit" class="submit">
                                    <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- Single Widget Area -->
                <div class="col-12 col-md-6">
                    <div class="single_widget_area">
                        <div class="footer_social_area">
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Facebook"><i
                                    class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Instagram"><i
                                    class="fa fa-instagram" aria-hidden="true"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Twitter"><i
                                    class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Pinterest"><i
                                    class="fa fa-pinterest" aria-hidden="true"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Youtube"><i
                                    class="fa fa-youtube-play" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-5">
                <div class="col-md-12 text-center">
                    <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>
                            document.write(new Date().getFullYear());
                        </script>
                        All rights reserved | Made with
                        <i class="fa fa-heart-o" aria-hidden="true"></i> by
                        <a href="https://colorlib.com" target="_blank">Colorlib</a>,
                        distributed by
                        <a href="https://themewagon.com/" target="_blank">ThemeWagon</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <!-- ##### Footer Area End ##### -->

    <script>
        const initialize = () => {
            const removeButtons = document.querySelectorAll('.address-remove')
            removeButtons.forEach((button, index) => {
                button.addEventListener('click', () => removeAddress(button))
            })

        }

        async function removeAddress(button) {
            const addressId = button.getAttribute('data-addressid')
            try {
                console.log()
                const response = await fetch('/removeAddress', {
                    method: "DELETE",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify({
                        addressId
                    }),
                })
                if (!response.ok) {
                    throw new Error(`Failed to remove Address. Status: ${response.status}`);
                }

                const result = await response.json();
                // Process the result as needed (e.g., update UI, refresh cart data)
                console.log("Address removed successfully:", result);

                if (result.success) {
                    const address = button.closest('.single-address');
                    if (address) {
                        address.remove();
                    }
                }
                const addresses = document.querySelectorAll(".single-address")
                console.log(addresses)
                if (addresses.length < 1) {
                    const noAddressDiv = document.createElement('div');
                    noAddressDiv.classList.add('col', 'text-center');
                    noAddressDiv.innerHTML = `
                        <h5>NO ADDRESS!</h5>
                        <hr>
                    `;

                    const addressesContainer = document.querySelector('.addresses-container');
                    addressesContainer.appendChild(noAddressDiv);
                }

            } catch (error) {
                console.log(error)
            }
        }

        async function editAddress(addressId) {
            try {
                window.location.href = `/address/${addressId}`;
            } catch (error) {
                console.error("Error occurred while navigating to edit address page:", error);
            }
        }

        document.addEventListener("DOMContentLoaded", () => initialize());
    </script>

    <!-- jQuery (Necessary for All JavaScript Plugins) -->
    <script src="js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Plugins js -->
    <script src="js/plugins.js"></script>
    <!-- Classy Nav js -->
    <script src="js/classy-nav.min.js"></script>
    <!-- Active js -->
    <script src="js/active.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>

</html>