<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="description" content="" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title>Vertex</title>

    <!-- Favicon  -->
    <link rel="icon" href="/img/core-img/favicon.ico" />

    <!-- Core Style CSS -->
    <link rel="stylesheet" href="/css/core-style.css" />

    <style>
        .product-remove {
            border: 0px;
            background: none;
        }

        .product-remove:hover {
            cursor: pointer;
            color: #0315ff;
        }

        .product-remove:focus {
            outline: 0px;
        }

        .quantity-decrease:disabled {
            background: none;
        }

        .quantity-decrease:disabled:hover i {
            color: gray;
        }

        .cart-item-desc p {
            line-height: 1;
        }

        .old-price {
            display: inline-block;
            font-family: "Ubuntu", sans-serif;

            color: #787878;
            font-weight: 700;
            text-decoration: line-through;
            margin-right: 15px;
        }

        .cart-item-desc {
            width: 296px;
        }


        .product-name-head,
        .product-name {
            display: inline-block;
            width: 200px;
            /* Adjust as needed */
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        #couponCode {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }

        #couponCode:focus,
        #applyCoupon:focus {
            box-shadow: 0 0 0 0;
        }

        #applyCoupon {

            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }

        .order-details-confirmation .order-details-form li {
            font-weight: 500;
        }

        #coupon-remove {
            flex-direction: row-reverse;
        }

        #coupon-remove button {
            border: 0;
            background-color: transparent;
            color: #ff0000;
        }

        #coupon-remove button:focus {
            outline: 0;
        }

        #coupon-remove button:hover {
            text-decoration: underline;
            cursor: pointer;
        }
    </style>
</head>

<body>
    <!-- ##### Header Area Start ##### -->
    <%- include("./partials/privateNavbar") %>

        <!-- ##### Header Area End ##### -->

        <div class="checkout_area section-padding-80">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-7">
                        <div class="cart-content">
                            <!-- Cart List Area -->
                            <div class="cart-list">
                                <% if (!products || products.length<1 ) { %>
                                    <div class="text-center">
                                        <h5>NO PRODUCTS IN CART!</h5>
                                        <hr />
                                    </div>

                                    <% } else { %>
                                        <% products.forEach(product=> { %>

                                            <div class="single-cart-item d-flex mb-2">
                                                <div class="product-image">
                                                    <img src="/img/products/<%= product.productId.images[0]%>"
                                                        class="cart-thumb" alt="" />
                                                </div>
                                                <div class="cart-item-desc px-2">
                                                    <h6>
                                                        <%= product.productId.name%>
                                                    </h6>
                                                    <% if (product.message) { %>
                                                        <p class="msg text-danger problem">
                                                            <%= product.message %>
                                                        </p>

                                                        <% } %>
                                                            <p class="size">Size: <%= product.size%>
                                                            </p>
                                                            <p class="color">Color: <%= product.color %>
                                                            </p>
                                                            <h6 class="">
                                                                <% if (product.productId.discount) { %>
                                                                    <span class="old-price original-price">
                                                                        ₹ <%= product.productId.originalPrice %>
                                                                    </span>
                                                                    <span class="discountedPrice price">
                                                                        ₹ <%= product.productId.discountedPrice %>
                                                                    </span>
                                                                    <% } else { %>
                                                                        <span class="original-price price">
                                                                            ₹ <%= product.productId.originalPrice %>
                                                                        </span>
                                                                        <% } %>
                                                            </h6>
                                                </div>
                                                <div class="px-2 cart-item-action">
                                                    <ul class="pagination">
                                                        <li class="page-item">
                                                            <button type="button" class="page-link quantity-decrease"
                                                                data-itemid="<%= product._id %>">
                                                                <i class="fa fa-minus"></i>
                                                            </button>
                                                        </li>
                                                        <li class="page-item">
                                                            <span class="page-link quantity">
                                                                <%= product.quantity %>
                                                            </span>
                                                        </li>
                                                        <li class="page-item">
                                                            <button type="button" class="page-link quantity-increase"
                                                                data-itemid="<%= product._id %>">
                                                                <i class="fa fa-plus"></i>
                                                            </button>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="cart-item-misc flex-fill">
                                                    <h6 class="px-2 totalPrice">
                                                        <% if (product.productId.discount) { %>
                                                            ₹<%=product.quantity * product.productId.discountedPrice %>
                                                                <% } else { %> ₹<%=product.quantity *
                                                                        product.productId.originalPrice%>
                                                                        <% } %>
                                                    </h6>

                                                    <button type="button" class="product-remove"
                                                        data-itemid="<%= product._id %>">
                                                        <i class="fa fa-close" aria-hidden="true"> </i>
                                                    </button>
                                                </div>
                                                <hr />
                                            </div>
                                            <% }) %>
                                                <% } %>
                            </div>
                        </div>
                    </div>

                    <!-- summary part -->
                    <div class="col-12 col-md-6 col-lg-5 ml-lg-auto">
                        <div class="order-details-confirmation">
                            <div class="cart-page-heading">
                                <h5>Summary</h5>
                            </div>

                            <ul class="order-details-form mb-4" id="cart-summary">
                                <li class="summary-header">
                                    <span class="product-name-head">Product</span>
                                    <span>Qty</span>
                                    <span>Price</span>
                                </li>
                                <% if (products.length>0) { %>
                                    <% products.forEach(product=> { %>
                                        <li class="summary-item" id="<%=product._id%>">
                                            <span class="product-name">
                                                <%= product.productId.name %>
                                            </span>
                                            <span class="product-quantity">
                                                <%= product.quantity %>
                                            </span>
                                            <span class="product-originalPrice"> ₹ <%=product.quantity *
                                                    product.productId.originalPrice%>
                                            </span>
                                        </li>
                                        <% }) %>
                                            <% } %>

                                                <hr class="summary-divider" />

                                                <li><span>SUBTOTAL</span> <span id="subtotal">₹0.00</span></li>
                                                <li><span>Delivery Charge</span> <span id="delivery">₹0.00</span></li>
                                                <li><span>Discounts &amp; Offers:</span></li>
                                                <% products.forEach(product=> { %>
                                                    <% if (product.productId.discount) { %>
                                                        <li id="<%=product._id%>">
                                                            <span class="product-name">
                                                                -<%= product.productId.name %> (x<span class="quantity">
                                                                        <%= product.quantity %>):
                                                                    </span>
                                                            </span>
                                                            <span class="product-discount">-₹
                                                                <%= product.quantity*product.productId.discount %>
                                                            </span>
                                                        </li>
                                                        <% } %>
                                                            <% }) %>
                                                                <li id="coupon">
                                                                    <span id="coupon-name">- Coupon none:</span>
                                                                    <span id="coupon-value">-₹0.00</span>
                                                                </li>
                                                                <li id="coupon-remove">
                                                                </li>
                                                                <hr />
                                                                <li><span>Total</span> <span id="total">₹0.00</span>
                                                                </li>
                                                                <hr />
                                                                <li>
                                                                    <input type="text" id="couponCode"
                                                                        class="form-control"
                                                                        placeholder="Enter coupon code">
                                                                    <button type="button" id="applyCoupon"
                                                                        class="btn btn-primary">Apply</button>
                                                                </li>
                                                                <div id="couponValidationMessage"
                                                                    class="text-danger mb-2">
                                                                </div>
                            </ul>


                            <input type="hidden" name="couponCode" id="hiddenCoupon">
                            <button id="checkOut" class="btn essence-btn">
                                Proceed to checkout
                            </button>


                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- ##### Footer Area Start ##### -->
        <%- include("./partials/user-footer") %>
            <!-- ##### Footer Area End ##### -->

            <script>
                const initialize = () => {
                    const removeButtons = document.querySelectorAll(".product-remove");
                    removeButtons.forEach((button, index) => {
                        button.addEventListener("click", () => removeProduct(button));
                    });

                    const decreaseButtons = document.querySelectorAll(".quantity-decrease");
                    const increaseButtons = document.querySelectorAll(".quantity-increase");

                    decreaseButtons.forEach((button) => {
                        button.addEventListener("click", () =>
                            handleUpdateQuantity(button, -1)
                        );
                    });

                    increaseButtons.forEach((button) => {
                        button.addEventListener("click", () =>
                            handleUpdateQuantity(button, 1)
                        );
                    });
                    calculateSubtotal();

                    document.querySelector("#applyCoupon").addEventListener("click", applyCoupon)

                    const checkOutButton = document.querySelector("#checkOut");
                    checkOutButton.addEventListener("click", proceedToCheckOut);
                };

                async function applyCoupon() {
                    const couponCodeInput = document.querySelector("#couponCode")
                    const couponValidationMessage = document.querySelector("#couponValidationMessage")
                    const couponRemoveElement = document.querySelector("#coupon-remove")
                    try {
                        const couponCode = couponCodeInput.value
                        if (couponCode.length < 8) {
                            console.log("invalid couponcode")
                            couponValidationMessage.innerHTML = "invalid couponcode"
                            return
                        }

                        const subtotalElement = document.getElementById("subtotal");
                        const totalAmount = parseFloat(subtotalElement.innerText.replace("₹", ""));

                        const response = await fetch(`/checkCoupon/${couponCode}`, {
                            method: "POST",
                            headers: {
                                "Content-Type": "application/json",
                            },
                            body: JSON.stringify({
                                totalAmount,
                            }),
                        })
                        const responseData = await response.json();

                        if (!response.ok) {
                            couponValidationMessage.innerHTML = responseData.error;
                            return;
                        }

                        if (!responseData.success) {
                            couponValidationMessage.innerHTML = responseData.error;
                            return
                        }

                        if (!document.getElementById("coupon-remove-btn")) {
                            var buttonElement = document.createElement("button");

                            // Set attributes for the button element
                            buttonElement.setAttribute("id", "coupon-remove-btn");
                            buttonElement.setAttribute("type", "button");
                            buttonElement.setAttribute("onclick", "removeCoupon()");
                            buttonElement.textContent = "Remove";

                            couponRemoveElement.appendChild(buttonElement);
                        }

                        let couponName = document.querySelector("#coupon-name")
                        couponName.innerText = `- ${couponCode}:`

                        let couponValue = document.querySelector("#coupon-value")
                        couponValue.innerHTML = `-₹${responseData.discountAmount.toFixed(2)}`

                        document.querySelector("#hiddenCoupon").value = couponCode
                        calculateTotal(totalAmount)
                    } catch (error) {
                        console.log(error)
                    }
                }


                function removeCoupon() {
                    const couponRemoveElement = document.querySelector("#coupon-remove")
                    let buttonElementToRemove = document.getElementById("coupon-remove-btn");
                    if (buttonElementToRemove) {
                        // Remove the button element from the coupon remove element
                        couponRemoveElement.removeChild(buttonElementToRemove);
                    }

                    let couponNameElement = document.getElementById("coupon-name");
                    console.log(couponNameElement)
                    couponNameElement.innerText = "- Coupon none:"

                    let couponValueElement = document.getElementById("coupon-value");
                    console.log(couponValueElement)
                    couponValueElement.innerText = "-₹0.00"

                    document.querySelector("#hiddenCoupon").value = ""

                    const subtotalElement = document.getElementById("subtotal");
                    const totalAmount = parseFloat(subtotalElement.innerText.replace("₹", ""));

                    calculateTotal(totalAmount)

                }

                async function removeProduct(button) {
                    const itemId = button.getAttribute("data-itemid");

                    try {
                        const response = await fetch("/removeProduct", {
                            method: "DELETE",
                            headers: {
                                "Content-Type": "application/json",
                            },
                            body: JSON.stringify({
                                itemId,
                            }),
                        });
                        if (!response.ok) {
                            throw new Error(
                                `Failed to remove product. Status: ${response.status}`
                            );
                        }

                        const result = await response.json();

                        if (result.success) {
                            const productItem = button.closest(".single-cart-item");
                            if (productItem) {
                                productItem.remove();
                            }
                        }
                        calculateSubtotal();

                        const items = document.querySelectorAll(".single-cart-item");

                        if (items.length < 1) {
                            const noItemDiv = document.createElement("div");
                            noItemDiv.classList.add("text-center");
                            noItemDiv.innerHTML = `
                        <h5>NO PRODUCTS IN CART!</h5>
                        <hr>
                    `;

                            const cartList = document.querySelector(".cart-list");
                            cartList.appendChild(noItemDiv);
                        }
                    } catch (error) {
                        console.log(error);
                    }
                }

                async function handleUpdateQuantity(button, change) {
                    const itemId = button.getAttribute("data-itemid");
                    const productItem = button.closest(".single-cart-item");
                    const cartItemProblems = productItem.querySelector(".problem");
                    if (
                        cartItemProblems &&
                        cartItemProblems.innerHTML.trim() == "Product is unavailable"
                    ) {
                        return;
                    }

                    try {
                        const response = await fetch("/updateQuantity", {
                            method: "PATCH",
                            headers: {
                                "Content-Type": "application/json",
                            },
                            body: JSON.stringify({
                                itemId,
                                change,
                            }),
                        });

                        const result = await response.json();
                        if (!response.ok) {
                            Swal.fire(result.message);
                            throw new Error(
                                `Failed to update quantity. Status: ${response.status}`
                            );
                        }

                        // Update UI with the new quantity
                        if (result.success) {
                            const cartItem = button.closest(".single-cart-item");
                            const quantityElement = cartItem.querySelector(".quantity");

                            const currentQuantity = parseInt(quantityElement.innerText, 10);

                            if (quantityElement) {
                                quantityElement.innerText = currentQuantity + change;
                            }
                            const priceElement = cartItem.querySelector(".price");
                            const totalPrice = cartItem.querySelector(".totalPrice");

                            if (priceElement) {
                                const productPrice = parseFloat(
                                    priceElement.innerText.replace("₹", "")
                                );
                                console.log("productPrice")
                                console.log(productPrice)
                                totalPrice.innerText = `₹ ${(currentQuantity + change) * productPrice
                                    }`;
                            }

                            if (cartItemProblems && !result.errorMessage) {
                                cartItemProblems.innerHTML = "";
                            } else if (cartItemProblems && result.errorMessage) {
                                cartItemProblems.innerHTML = result.errorMessage;
                                console.log(cartItemProblems);
                            } else if (result.errorMessage) {
                                console.log("undo");
                                window.location.reload();
                            }


                            const selector = `[id='${itemId}']`;
                            let orderDetailsForm = document.querySelector(selector);

                            orderDetailsForm.querySelector(".product-quantity").innerText = currentQuantity + change;

                            if (priceElement) {
                                const productPrice = parseFloat(
                                    priceElement.innerText.replace("₹", "")
                                );

                                orderDetailsForm.querySelector(".product-originalPrice").innerText = `₹ ${(currentQuantity + change) * productPrice}`;
                            }



                        }
                        calculateSubtotal();
                    } catch (error) {
                        console.error("Error updating quantity:", error.message);
                        // Handle error, show error message to the user, etc.
                    }
                }

                function calculateSubtotal() {
                    let subtotal = 0;
                    const products = document.querySelectorAll(".single-cart-item");
                    // console.log(products)
                    products.forEach((product) => {
                        const oldProceElement = product.querySelector(".original-price");
                        // console.log(oldProceElement)
                        let oldPrice = 0;
                        if (oldProceElement) {
                            oldPrice = parseFloat(oldProceElement.innerText.replace("₹", ""));
                        }
                        const quantityElement = product.querySelector(".quantity");

                        let quantity = quantityElement.innerText;

                        subtotal += oldPrice * quantity;
                    });

                    const subtotalElement = document.getElementById("subtotal");
                    if (subtotalElement) {
                        subtotalElement.innerText = `₹${subtotal.toFixed(2)}`;
                    }

                    const deliveryElement = document.getElementById("delivery")
                    if (subtotal != 0 && subtotal <= 1000) {
                        deliveryElement.innerText = `₹50`;
                    } else if (subtotal > 1000) {
                        deliveryElement.innerText = `₹70`;
                    }



                    calculateTotal(subtotal)
                }

                function calculateTotal(subtotal) {

                    const couponValueElement = document.querySelector("#coupon-value")
                    const couponValue = parseFloat(couponValueElement.innerText.replace("-₹", ""))


                    console.log(subtotal)
                    console.log(couponValue)

                    let totalDisocunt = 0;
                    var discounts = document.querySelectorAll('.product-discount');
                    discounts.forEach(function (discount) {
                        var discountAmount = parseFloat(discount.innerText.trim().replace(/[^0-9.]/g, ''));
                        console.log(typeof discountAmount)
                        totalDisocunt += discountAmount;
                    });
                    console.log(couponValue)
                    console.log(totalDisocunt)

                    const deliveryElement = document.getElementById("delivery")
                    const deliveryCharge = parseFloat(deliveryElement.innerText.replace("₹", ""))

                    let total = subtotal - couponValue - totalDisocunt + deliveryCharge;
                    // For simplicity, setting total equal to subtotal in this example
                    const totalElement = document.getElementById("total");
                    if (totalElement) {
                        totalElement.innerText = `₹${total.toFixed(2)}`;
                    }
                }

                async function proceedToCheckOut() {

                    const items = document.querySelectorAll(".single-cart-item");

                    if (items.length <= 0) {
                        Swal.fire({
                            icon: "warning",
                            html: `Cart is empty.Please add Products.`,
                            showCloseButton: true,
                            focusConfirm: false,
                            confirmButtonText: `Ok`,
                        });
                        return;
                    }

                    // const problems = document.querySelectorAll(".problem");

                    // if (problems.length) {
                    //     Swal.fire({
                    //         icon: "warning",
                    //         html: `Please remove unavilable and out of stock products from cart.`,
                    //         showCloseButton: true,
                    //         focusConfirm: false,
                    //         confirmButtonText: `Ok`,
                    //     });
                    //     return;
                    // }
                    console.log("problem?")
                    try {
                        const subtotalElement = document.getElementById("subtotal");
                        const totalAmount = parseFloat(subtotalElement.innerText.replace("₹", ""));

                        const couponCode = document.querySelector("#hiddenCoupon").value

                        const response = await fetch("/proceed-to-checkout", {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                            },
                            body: JSON.stringify({
                                totalAmount,
                                coupon: couponCode,
                            }),
                        })

                        if (!response.ok) {
                            const data = await response.json();
                            await Swal.fire({
                                icon: "warning",
                                html: data.error || "An error occurred during checkout.",
                                showCloseButton: true,
                                focusConfirm: false,
                                confirmButtonText: `Ok`,
                            });

                            location.reload();
                            return
                        }

                        window.location.assign("/checkout");
                    } catch (error) {
                        Swal.fire({
                            icon: "error",
                            title: "Oops...",
                            text: "Something went wrong!",
                        });
                    }
                }

                document.addEventListener("DOMContentLoaded", () => initialize());
            </script>

            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

            <!-- jQuery (Necessary for All JavaScript Plugins) -->
            <script src="/js/jquery/jquery-2.2.4.min.js"></script>
            <!-- Popper js -->
            <script src="/js/popper.min.js"></script>
            <!-- Bootstrap js -->
            <script src="/js/bootstrap.min.js"></script>
            <!-- Plugins js -->
            <script src="/js/plugins.js"></script>
            <!-- Classy Nav js -->
            <script src="/js/classy-nav.min.js"></script>
            <!-- Active js -->
            <script src="/js/active.js"></script>
</body>

</html>