<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="description" content="" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title>Vertex</title>

    <!-- Favicon  -->
    <link rel="icon" href="/img/core-img/favicon.ico" />

    <!-- Core Style CSS -->
    <link rel="stylesheet" href="/css/core-style.css" />

    <style>
        .product-remove {
            border: 0px;
            background: none;
        }

        .product-remove:hover {
            cursor: pointer;
            color: #0315ff;
        }

        .product-remove:focus {
            outline: 0px;
        }

        .quantity-decrease:disabled {
            background: none;
        }

        .quantity-decrease:disabled:hover i {
            color: gray;
        }

        .radio-box {
            display: flex;
            margin-bottom: 10px;
        }

        .radio-label {
            /* margin: 2px; */
            /* Adjust the border-radius for the capsule shape */
            cursor: pointer;
            transition: background-color 0.3s ease;
            background-color: #fff;
            color: #000;
            /* Blue for unselected state */
        }

        .radio-box .disabled {
            border: 0px;
            /* Change the background color for disabled state */
            cursor: not-allowed;
        }

        /* Hide the actual radio buttons */
        .radio-box input[type="radio"] {
            display: none;
        }

        .radio-box input[type="radio"]:checked+label p {
            /* Styles for the checked radio button */
            background-color: #ccc;
            color: #000;
            /* Black for selected state */
        }

        .radio-label p {
            padding: 10px 15px;
            margin-bottom: 0;
            border: 1px solid #000;
        }

        .product-name-head,
        .product-name {
            display: inline-block;
            width: 200px;
            /* Adjust as needed */
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .checkout_area {
            text-align: center;
        }

        .thank-you {

            justify-content: center;
        }

        .info-box {
            display: flex;
            justify-content: space-around;
        }

        .buttons-row {
            justify-content: center;

        }

        .buttons-row button {
            margin: 5px;
        }

        .info-box .row {
            margin: 15px;
            justify-content: space-between;
        }
    </style>
</head>

<body>
    <!-- ##### Header Area Start ##### -->
    <%- include("./partials/privateNavbar") %>

        <!-- ##### Header Area End ##### -->

        <!-- ##### Breadcumb Area Start ##### -->
        <div class="breadcumb_area bg-img" style="background-image: url(/img/bg-img/breadcumb.jpg)">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <div class="page-title text-center">
                            <h2>Checkout</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ##### Breadcumb Area End ##### -->

        <!-- ##### Checkout Area Start ##### -->
        <div class="checkout_area section-padding-80">
            <div class="container">
                <div class="row">
                    <div class="col-12 ">
                        <div class="thank-you d-flex mb-2 row">
                            <div class="check flex justify-center self-center text-interactive"><svg
                                    style="width:3rem;height:3rem" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6"
                                    fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M5 13l4 4L19 7"></path>
                                </svg></div>
                            <div class="self-center"><span style="font-size:1.6rem;font-weight:300">Order #<%=
                                        order.order_number %></span>
                                <div>Thank you <%= order.userId.name %>!</div>
                            </div>
                        </div>
                        <hr>
                        <div class="info-box mb-2 row justify-center">
                            <div class="cart-page-heading">
                                <h6>Contact information</h6>
                                <ul>
                                    <li>Name: <%= order.userId.name %>
                                    </li>
                                    <li>Email: <%= order.userId.email %>
                                    </li>
                                    <li>Phone: <%= order.userId.mobile%>
                                    </li>
                                    <!-- Add more contact information if needed -->
                                </ul>
                            </div>

                            <div class="cart-page-heading">
                                <h6>Payment Method</h6>
                                <ul>
                                    <li>Method: <%= order.paymentMethod %>
                                    </li>
                                    <li>Status: <%= order.paymentStatus %>
                                    </li>
                                    <!-- Add more payment method details if needed -->
                                </ul>

                            </div>

                            <div class="cart-page-heading">
                                <h6>Billing Address</h6>
                                <ul>

                                    <li>Fullname: <%= order.shippingAddress.fullname %>
                                    </li>
                                    <li>Mobile: <%= order.shippingAddress.mobile %>
                                    </li>
                                    <li>Address: <%= order.shippingAddress.address %>
                                    </li>
                                    <li>Pincode: <%= order.shippingAddress.pincode %>
                                    </li>
                                    <li>State: <%= order.shippingAddress.state %>
                                    </li>
                                    <li>City: <%= order.shippingAddress.city %>
                                    </li>
                                    <li>street: <%= order.shippingAddress.street %>
                                    </li>

                                </ul>
                            </div>


                        </div>
                        <div class="row buttons-row">
                            <a href="/shop">
                                <button type="button" class="btn btn-primary">continue shopping</button>
                            </a>
                            <a href="/orders">
                                <button type="button" class="btn btn-primary">Order History</button>
                            </a>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <!-- ##### Checkout Area End ##### -->

        <!-- ##### Footer Area Start ##### -->
        <%- include("./partials/user-footer") %>
            <!-- ##### Footer Area End ##### -->

            <script>
                let orderId;

                const initialize = () => {

                };

                document.addEventListener("DOMContentLoaded", () => initialize());
            </script>

            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

            <!-- jQuery (Necessary for All JavaScript Plugins) -->
            <script src="/js/jquery/jquery-2.2.4.min.js"></script>
            <!-- Popper js -->
            <script src="/js/popper.min.js"></script>
            <!-- Bootstrap js -->
            <script src="/js/bootstrap.min.js"></script>
            <!-- Plugins js -->
            <script src="/js/plugins.js"></script>
            <!-- Classy Nav js -->
            <script src="/js/classy-nav.min.js"></script>
            <!-- Active js -->
            <script src="/js/active.js"></script>
</body>

</html>