<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="description" content="" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <!-- Title  -->
  <title>Vertex</title>

  <!-- Favicon  -->
  <link rel="icon" href="img/core-img/favicon.ico" />

  <!-- Core Style CSS -->
  <link rel="stylesheet" href="css/core-style.css" />

  <style>
    .profile-page {
      padding-top: 80px;
    }

    .profile-sidebar {
      text-align: center;
      padding: 10px;
      background-color: #f8f9fa;
      border-radius: 10px;
    }

    .profile-options {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    .profile-options li {
      margin-bottom: 10px;
    }

    .profile-options a {
      text-decoration: none;
      display: block;
      padding: 10px 20px;
      border-radius: 20px;
      color: #495057;
      transition: background-color 0.3s;
    }

    .profile-options a:hover {
      background-color: #e9ecef;
    }

    .profile-options a.active {
      background-color: #000;
      color: #fff;
    }

    .user-details {
      padding: 20px;
      background-color: #f8f9fa;
      border-radius: 10px;
    }

    .coupon,
    .refferal-link {
      margin-top: 10px;
      padding: 20px;
      background-color: #f8f9fa;
      border-radius: 10px;
    }

    .link-container {
      display: flex;
      align-items: center;
      width: 100%;
    }

    .link {
      margin-right: 1px;
      flex-grow: 1;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px 0 0 5px;
    }

    .copy-button {
      padding: 10px 20px;
      border: none;
      background-color: #007bff;
      color: #fff;
      border-radius: 0 5px 5px 0;
      cursor: pointer;
    }
  </style>
</head>

<body>
  <!-- ##### Header Area Start ##### -->
  <%- include("./partials/privateNavbar") %>

    <!-- ##### Header Area End ##### -->

    <!-- ##### Checkout Area Start ##### -->
    <div class="profile-page ">
      <div class="container">
        <div class="row">
          <!-- Sidebar Section -->
          <div class="col-12 col-md-5 col-lg-3">
            <div class="profile-sidebar">
              <ul class="list-unstyled profile-options">
                <li><a href="/profile" class="active">Account</a></li>
                <li><a href="/password">Change Password</a></li>
                <li><a href="/orders">Order History</a></li>

                <li><a href="/cart">Shopping Cart</a></li>
                <li><a href="/wishlist">Wishlist</a></li>
                <li><a href="/address">Address</a></li>
                <li><a href="/add-address">Add Address</a></li>
                <li><a href="/wallet">wallet</a></li>
                <li><a href="/logout">Logout</a></li>
              </ul>
            </div>
          </div>

          <!-- User Details Section -->
          <div class="col-12 col-md-7 col-lg-9">
            <div class="user-details clearfix">
              <div class="profile-heading mt-15 mb-30">
                <h5>User Details</h5>
              </div>

              <form id="profileForm">
                <!-- Add user details fields here -->
                <div class="row">
                  <!-- Example: First Name -->
                  <div class="col-12 mb-3">
                    <label for="profile_first_name">Name <span>*</span></label>
                    <input type="text" class="form-control" id="profile_first_name" value="<%= user.name %>" required
                      disabled />
                    <div id="nameValidationMessage" class="text-danger mb-2"></div>
                  </div>
                  <div class="col-12 mb-3">
                    <label for="profile_email">Email <span>*</span></label>
                    <input type="text" class="form-control" id="profile_email" value="<%= user.email %>" required
                      disabled />
                    <div id="emailValidationMessage" class="text-danger mb-2"></div>
                  </div>
                  <!-- Repeat for other user details fields -->

                  <!-- Update button -->
                  <div class="col-12">
                    <button type="button" class="btn essence-btn" id="editBtn">
                      Edit
                    </button>
                  </div>
                  <div class="col-12">
                    <button type="button" class="btn essence-btn" id="saveBtn" hidden>
                      Save
                    </button>
                  </div>
                </div>
              </form>
            </div>
            <div class="refferal-link">
              <div class="profile-heading mb-30">
                <h5>User Details</h5>
              </div>
              <div class="link-container">
                <input type="hidden" name="" id="referralCode" value="<%= user.referralCode %>">
                <input type="text" class="link" id="referralLink" readonly />
                <button class="copy-button" onclick="copyReferralLink()">
                  Copy
                </button>
              </div>
            </div>
            <div class="coupon mb-2">
              <div class="profile-heading mb-30">
                <h5>Available Coupons</h5>
              </div>
              <table class="table  table-hover my-0">
                <thead>
                  <tr>
                    <th>Coupon Code</th>
                    <th>Minimum Amount</th>
                    <th>Discount Amount</th>
                  </tr>
                </thead>
                <tbody>
                  <% coupons.forEach(coupon=> { %>
                    <tr>
                      <td>
                        <%= coupon.couponCode %>
                      </td>
                      <td>
                        <%= coupon.minimumAmount %>
                      </td>
                      <td>
                        <%= coupon.discountAmount %>
                      </td>
                    </tr>
                    <% }) %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <!-- ##### Checkout Area End ##### -->

      <!-- ##### Footer Area Start ##### -->
      <%- include("./partials/user-footer") %>
        <!-- ##### Footer Area End ##### -->

        <script>
          function copyReferralLink() {
            var copyText = document.getElementById("referralLink");
            copyText.select();
            document.execCommand("copy");

            Swal.fire("Referral link copied to clipboard!");
          }

          const nameValidationMessage = document.getElementById(
            "nameValidationMessage"
          );
          const emailValidationMessage = document.getElementById(
            "emailValidationMessage"
          );

          function validateEmail(email) {
            let validRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
            const matches = email.match(validRegex);
            return matches !== null && matches[0] === email;
          }

          function toggle() {
            document.getElementById("editBtn").setAttribute("hidden", "true");

            const inputFields = document.querySelectorAll("#profileForm input");
            inputFields.forEach((inputField) => {
              inputField.removeAttribute("disabled");
            });
            document.getElementById("saveBtn").removeAttribute("hidden");
          }

          async function editProfile() {
            const name = document.getElementById("profile_first_name").value;
            const email = document.getElementById("profile_email").value;

            nameValidationMessage.innerText = "";
            emailValidationMessage.innerText = "";

            if (name.trim() === "" && email.trim() === "") {
              nameValidationMessage.innerText = "Name is required";
              emailValidationMessage.innerText = "Email is required";
              return;
            }
            if (name.trim() === "") {
              nameValidationMessage.innerText = "Name is required";

              if (!validateEmail(email)) {
                console.log("not epty");
                emailValidationMessage.textContent = "invalid Email";
              }

              return;
            }
            if (email.trim() === "") {
              emailValidationMessage.innerText = "Email is required";
              return;
            }

            if (!validateEmail(email)) {
              console.log("not epty");
              emailValidationMessage.textContent = "invalid Email";
              return;
            }

            try {
              console.log("se");
              const response = await fetch("/profile", {
                method: "PATCH",
                headers: {
                  "Content-Type": "application/json",
                },
                body: JSON.stringify({
                  name: name,
                  email: email,
                }),
              });
              const data = await response.json();
              console.log(data);
              if (!response.ok) {
                Swal.fire({
                  icon: "error",
                  title: "Oops...",
                  text: data.message,
                });

                throw new Error("Failed to update profile");
              }

              await Swal.fire({
                icon: "success",
                title: "Updated",
                text: data.message,
              });
              window.location.reload();
            } catch (error) {
              console.log(error);
            }
          }

          document.addEventListener("DOMContentLoaded", function () {

            const currentUrl = window.location.href;
            const baseUrl = currentUrl.split('/').slice(0, 3).join('/') + '/';
            let referralCode = document.querySelector("#referralCode").value

            const referralLinkInput = document.querySelector("#referralLink");
            referralLinkInput.value = baseUrl + "register/?ref=" + referralCode;

            document.getElementById("editBtn").addEventListener("click", toggle);
            document
              .getElementById("saveBtn")
              .addEventListener("click", editProfile);
          });
        </script>

        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <!-- jQuery (Necessary for All JavaScript Plugins) -->
        <script src="/js/jquery/jquery-2.2.4.min.js"></script>
        <!-- Popper js -->
        <script src="/js/popper.min.js"></script>
        <!-- Bootstrap js -->
        <script src="/js/bootstrap.min.js"></script>
        <!-- Plugins js -->
        <script src="/js/plugins.js"></script>
        <!-- Classy Nav js -->
        <script src="/js/classy-nav.min.js"></script>
        <!-- Active js -->
        <script src="/js/active.js"></script>

        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>

</html>