<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="description" content="" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title>Essence - Fashion Ecommerce Template</title>

    <!-- Favicon  -->
    <link rel="icon" href="/img/core-img/favicon.ico" />

    <!-- Core Style CSS -->
    <link rel="stylesheet" href="/css/core-style.css" />

    <style>
        .product-image img {
            width: 110px;
            /* height: 110px; */
            border-radius: 8px;
            object-fit: cover;
        }


        .profile-sidebar {
            text-align: center;
            padding: 10px;
            background-color: #f8f9fa;
            border-radius: 10px;
        }

        .profile-options {
            list-style: none;
            padding: 0;
            margin: 0;

        }

        .profile-options li {
            margin-bottom: 10px;
        }

        .profile-options a {
            text-decoration: none;
            display: block;
            padding: 10px 20px;
            border-radius: 20px;
            color: #495057;
            transition: background-color 0.3s;
        }

        .profile-options a:hover {
            background-color: #e9ecef;
        }

        .profile-options a.active {
            background-color: #000;
            color: #fff;
        }

        .user-details {
            padding: 20px;
            background-color: #f8f9fa;
            border-radius: 10px;
        }

        td a,
        td a:hover,
        td a.active,
        td a:focus {
            text-decoration: none;
            display: block;
            color: #000;
            font-weight: 400;
            font-family: "Poppins", sans-serif;
            font-size: 14px;
        }
    </style>

</head>

<body>
    <!-- ##### Header Area Start ##### -->
    <header class="header_area">
        <div class="classy-nav-container breakpoint-off d-flex align-items-center justify-content-between">
            <!-- Classy Menu -->
            <nav class="classy-navbar" id="essenceNav">
                <!-- Logo -->
                <a class="nav-brand" href="/"><img src="/img/core-img/logo.png" alt="" /></a>
                <!-- Navbar Toggler -->
                <div class="classy-navbar-toggler">
                    <span class="navbarToggler"><span></span><span></span><span></span></span>
                </div>
                <!-- Menu -->
                <div class="classy-menu">
                    <!-- close btn -->
                    <div class="classycloseIcon">
                        <div class="cross-wrap">
                            <span class="top"></span><span class="bottom"></span>
                        </div>
                    </div>
                    <!-- Nav Start -->
                    <div class="classynav">
                        <ul>
                            <li><a href="/shop">Shop</a></li>
                            <li><a href="blog.html">Blog</a></li>
                            <li><a href="contact.html">Contact</a></li>
                        </ul>
                    </div>
                    <!-- Nav End -->
                </div>
            </nav>

            <!-- Header Meta Data -->
            <div class="header-meta d-flex clearfix justify-content-end">
                <!-- Search Area -->
                <div class="search-area">
                    <form action="#" method="post">
                        <input type="search" name="search" id="headerSearch" placeholder="Type for search" />
                        <button type="submit">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </button>
                    </form>
                </div>
                <div class="favourite-area">
                    <a href="#"><img src="/img/core-img/heart.svg" alt=""></a>
                </div>

                <!-- User Login Info -->
                <div class="user-login-info">
                    <a href="/profile"><img src="/img/core-img/user.svg" alt=""></a>
                </div>
                <!-- Cart Area -->
                <div class="cart-area">
                    <a href="/cart" id="essenceCartBtn"><img src="/img/core-img/bag.svg" alt="">
                        <!-- <span>3</span> -->
                    </a>
                </div>
                <div class="sign-in-area">
                    <a href="/logout">Logout</a>
                </div>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->


    <!-- ##### Checkout Area Start ##### -->
    <div class="profile-page section-padding-80">
        <div class="container">
            <div class="row">
                <!-- Sidebar Section -->
                <div class="col-12 col-md-5 col-lg-3">
                    <div class="profile-sidebar">
                        <ul class="list-unstyled profile-options">
                            <li><a href="/profile">Account</a></li>
                            <li><a href="/password">Change Password</a></li>
                            <li><a href="/orders" class="active">Order History</a></li>
                            <li><a href="#">Track Order</a></li>
                            <li><a href="/cart">Shopping Cart</a></li>
                            <li><a href="/wishlist">Wishlist</a></li>
                            <li><a href="/address">Address</a></li>
                            <li><a href="/add-address">Add Address</a></li>
                            <li><a href="/wallet">wallet</a></li>
                            <li><a href="/logout">Logout</a></li>
                        </ul>
                    </div>
                </div>

                <!-- User Details Section -->
                <div class="col-12 col-md-7 col-lg-9">
                    <div class="user-details clearfix mb-2">
                        <input type="hidden" name="" id="orderId" <%=order._id %>>
                        <input type="text" value="<%= order %>">
                        <h6>Order Number: <%= order.order_number %>
                        </h6>
                        <h6>Status: <%=order.orderStatus %>
                        </h6>
                        <h6>Payment Method: <%= order.paymentMethod %>
                        </h6>
                        <h6>Ordered: <%= order.createdAt.toLocaleDateString() %>
                        </h6>
                        <h6>Total: <%= order.finalTotal %>
                        </h6>
                        <% if (order.coupon) { %>

                            <% } %>

                                <% if (order.orderStatus=="Delivered" ) { %>

                                    <button type="button" class=" btn essence-btn bg-danger"
                                        data-orderId="<%= order._id %>" id="actionBtn" data-action="return">Return
                                        Order</button>
                                    <% } else { %>
                                        <button type="button" class=" btn essence-btn bg-danger"
                                            data-orderId="<%= order._id %>" id="actionBtn" data-action="cancel">Cancel
                                            Order</button>

                                        <% } %>
                                            <hr>

                                            <h6 class="card-title  mb-0">Delivery Address:</h6>
                                            <p>
                                                <%= order.shippingAddress.fullname %><br />
                                                    <%= order.shippingAddress.mobile %><br />
                                                        <%= order.shippingAddress.address %><br />
                                                            <%= order.shippingAddress.pincode %><br />
                                                                <%= order.shippingAddress.street %>, <%=
                                                                        order.shippingAddress.city %>, <%=
                                                                            order.shippingAddress.state %>
                                                                            <br />
                                            </p>
                    </div>
                    <div class="table-responsive-sm mb-3">
                        <table id="myTable" class="table text-center table-hover my-0">
                            <thead>
                                <tr>
                                    <th class=""></th>
                                    <th class="">Name</th>
                                    <th class="">Variant</th>
                                    <th class="">Price</th>
                                    <th class="">Quantity</th>
                                    <th class="">Total</th>
                                    <th class=""></th>

                                </tr>
                            </thead>
                            <tbody>
                                <% order.products.forEach(product=> { %>
                                    <tr>
                                        <td class="product-image">
                                            <img src="/img/products/<%=product.productId.images[0]  %>"
                                                class="cart-thumb" alt="" />
                                        </td>
                                        <td>
                                            <%=product.productId.name %>
                                        </td>
                                        <td>
                                            <%= product.size %>,
                                                <%= product.color %>
                                        </td>
                                        <td>
                                            ₹<%= product.price %>
                                        </td>
                                        <td>
                                            <%= product.quantity %>
                                        </td>
                                        <td>
                                            ₹<%= product.price*product.quantity %>
                                        </td>
                                        <td>
                                            <% if(order.orderStatus==="Delivered" && !product.cancel?.status){ %>
                                                <button class="btn btn-primary" data-btn-rating
                                                    data-product="<%= product._id%>">Give rating</button>
                                                <% } %>
                                                    <% if(order.orderStatus!=="Delivered" && !product.cancel?.status){
                                                        %>
                                                        <button class="btn btn-danger cancel-product"
                                                            data-productsid="<%= product._id %>">
                                                            Cancel products
                                                        </button>
                                                        <% } %>
                                        </td>
                                    </tr>
                                    <% }) %>
                                        <% if (order.coupon.couponId) { %>
                                            <tr>
                                                <td colspan="4"></td>
                                                <td>Subtotal</td>
                                                <td>
                                                    ₹<%= order.originalTotal %>
                                                </td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td colspan="4"></td>
                                                <td>Coupon</td>
                                                <td>
                                                    -₹<%= order.coupon.discountAmount %>
                                                </td>
                                                <td></td>
                                            </tr>
                                            <% } %>
                                                <tr>
                                                    <td colspan="4"></td>
                                                    <td>Total</td>
                                                    <td>
                                                        ₹<%= order.finalTotal %>
                                                    </td>
                                                    <td></td>
                                                </tr>
                            </tbody>
                        </table>
                    </div>



                </div>
            </div>
        </div>

        <!-- ##### Checkout Area End ##### -->

        <!-- ##### Footer Area Start ##### -->
        <footer class="footer_area clearfix">
            <div class="container">
                <div class="row">
                    <!-- Single Widget Area -->
                    <div class="col-12 col-md-6">
                        <div class="single_widget_area d-flex mb-30">
                            <!-- Logo -->
                            <div class="footer-logo mr-50">
                                <a href="#"><img src="/img/core-img/logo2.png" alt="" /></a>
                            </div>
                            <!-- Footer Menu -->
                            <div class="footer_menu">
                                <ul>
                                    <li><a href="/shop">Shop</a></li>
                                    <!-- <li><a href="/blog.html">Blog</a></li>
                                    <li><a href="/contact.html">Contact</a></li> -->
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Single Widget Area -->
                    <div class="col-12 col-md-6">
                        <div class="single_widget_area mb-30">
                            <ul class="footer_widget_menu">
                                <li><a href="#">Order Status</a></li>
                                <li><a href="#">Payment Options</a></li>
                                <li><a href="#">Shipping and Delivery</a></li>
                                <li><a href="#">Guides</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">Terms of Use</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="row align-items-end">
                    <!-- Single Widget Area -->
                    <div class="col-12 col-md-6">
                        <div class="single_widget_area">
                            <div class="footer_heading mb-30">
                                <h6>Subscribe</h6>
                            </div>
                            <div class="subscribtion_form">
                                <form action="#" method="post">
                                    <input type="email" name="mail" class="mail" placeholder="Your email here" />
                                    <button type="submit" class="submit">
                                        <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- Single Widget Area -->
                    <div class="col-12 col-md-6">
                        <div class="single_widget_area">
                            <div class="footer_social_area">
                                <a href="#" data-toggle="tooltip" data-placement="top" title="Facebook"><i
                                        class="fa fa-facebook" aria-hidden="true"></i></a>
                                <a href="#" data-toggle="tooltip" data-placement="top" title="Instagram"><i
                                        class="fa fa-instagram" aria-hidden="true"></i></a>
                                <a href="#" data-toggle="tooltip" data-placement="top" title="Twitter"><i
                                        class="fa fa-twitter" aria-hidden="true"></i></a>
                                <a href="#" data-toggle="tooltip" data-placement="top" title="Pinterest"><i
                                        class="fa fa-pinterest" aria-hidden="true"></i></a>
                                <a href="#" data-toggle="tooltip" data-placement="top" title="Youtube"><i
                                        class="fa fa-youtube-play" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-5">
                    <div class="col-md-12 text-center">
                        <p>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;
                            <script>
                                document.write(new Date().getFullYear());
                            </script>
                            All rights reserved | Made with
                            <i class="fa fa-heart-o" aria-hidden="true"></i> by
                            <a href="https://colorlib.com" target="_blank">Colorlib</a>,
                            distributed by
                            <a href="https://themewagon.com/" target="_blank">ThemeWagon</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>
            </div>
        </footer>
        <!-- ##### Footer Area End ##### -->

        <script>

            const initialize = () => {
                const actionButton = document.querySelector("#actionBtn")
                const action = actionButton.getAttribute('data-action')
                console.log(action)
                if (action !== "Delivered") {
                    actionButton.addEventListener("click", cancelOrder)
                } else {
                    actionButton.addEventListener("click", returnOrder)
                }

                const cancelProductBtns = document.querySelectorAll(".cancel-product")
                cancelProductBtns.forEach((button) => {
                    button.addEventListener("click", () => (cancelProduct(button)))
                })
            }

            async function cancelProduct(button) {
                try {
                    const orderId = document.querySelector("#orderId").value
                    const { value: reason } = await Swal.fire({
                        input: "textarea",
                        inputLabel: "Are you sure you want to cancel this product?",
                        inputPlaceholder: "Type your reason here...",
                        inputAttributes: {
                            "aria-label": "Type your message here"
                        },
                        showCancelButton: true,
                        inputValidator: (value) => {
                            return new Promise((resolve) => {
                                if (value) {
                                    resolve();
                                } else {
                                    resolve("Please enter your reason for product cancel:)");
                                }
                            });
                        }
                    });
                    console.log(reason)

                    const productId = button.getAttribute("data-productsid")

                    const response = await fetch("/cancel-products", {
                        method: "POST",
                        headers: {
                            "content-Type": "application/json"
                        },
                        body: JSON.stringify({ orderId, productId, reason })
                    })
                    const jsonData = await response.json();
                    if (response.ok) {
                        await Swal.fire({
                            icon: "success",
                            title: "Product has been canceled",
                            showConfirmButton: false,
                            timer: 1500,
                        });
                    }

                } catch (error) {
                    Swal.fire({
                        icon: "error",
                        title: "Oops...",
                        text: `Something went wrong!${error}`,
                    });
                }
            }


            async function returnOrder(e) {
                console.log("returnng")
            }

            async function cancelOrder(e) {
                try {
                    const button = event.target;
                    const orderId = button.dataset.orderid;
                    const response = await fetch('/cancelOrder', {
                        method: "PATCH",
                        headers: {
                            "Content-Type": "application/json",
                        },
                        body: JSON.stringify({
                            orderId
                        }),
                    });
                    const data = await response.json();
                    if (response.ok) {
                        await Swal.fire({
                            icon: "success",
                            title: "Order Canceled",
                            text: data.message,
                        });
                        window.location.assign("/orders")
                    }
                } catch (error) {
                    console.log(error)
                }
            }


            document.addEventListener("DOMContentLoaded", () => initialize());
        </script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

        <!-- jQuery (Necessary for All JavaScript Plugins) -->
        <script src="/js/jquery/jquery-2.2.4.min.js"></script>
        <!-- Popper js -->
        <script src="/js/popper.min.js"></script>
        <!-- Bootstrap js -->
        <script src="/js/bootstrap.min.js"></script>
        <!-- Plugins js -->
        <script src="/js/plugins.js"></script>
        <!-- Classy Nav js -->
        <script src="/js/classy-nav.min.js"></script>
        <!-- Active js -->
        <script src="/js/active.js"></script>

        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>

</html>