<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Responsive Admin &amp; Dashboard Template based on Bootstrap 5" />
    <meta name="author" content="AdminKit" />
    <meta name="keywords"
        content="adminkit, bootstrap, bootstrap 5, admin, dashboard, template, responsive, css, sass, html, theme, front-end, ui kit, web" />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="shortcut icon" href="img/icons/icon-48x48.png" />

    <link rel="canonical" href="https://demo-basic.adminkit.io/" />

    <title>Vertex</title>

    <link href="/admin/css/app.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simplebar@latest/dist/simplebar.css" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <style>
        .text-interactive {
            background: transparent;
            border: 0;
        }

        .text-interactive:hover {
            text-decoration: underline;
        }

        .text-interactive.active {
            text-decoration: underline;
            background-color: aqua;
        }
    </style>
</head>

<body>
    <div class="wrapper">
        <nav id="sidebar" class="sidebar js-sidebar">
            <div class="sidebar-content js-simplebar">
                <a class="sidebar-brand" href="/admin/dashboard">
                    <span class="align-middle">Vertex</span>
                </a>
                <ul class="sidebar-nav">
                    <li class="sidebar-header">Menu</li>

                    <li class="sidebar-item active">
                        <a class="sidebar-link" href="/admin/dashboard">
                            <span class="align-middle">Dashboard</span>
                        </a>
                    </li>

                    <li class="sidebar-item ">
                        <a class="sidebar-link" href="/admin/sales">
                            <span class="align-middle">Sales</span>
                        </a>
                    </li>

                    <li class="sidebar-item">
                        <a class="sidebar-link" href="/admin/products">
                            <span class="align-middle">Products</span>
                        </a>
                    </li>

                    <li class="sidebar-item">
                        <a class="sidebar-link" href="/admin/category">
                            <span class="align-middle">Category</span>
                        </a>
                    </li>

                    <!-- <li class="sidebar-item ">
                        <a class="sidebar-link" href="/admin/attributes">
                            <span class="align-middle">Attributes</span>
                        </a>
                    </li> -->

                    <li class="sidebar-item">
                        <a class="sidebar-link" href="/admin/orders">
                            <span class="align-middle">Orders</span>
                        </a>
                    </li>

                    <li class="sidebar-item">
                        <a class="sidebar-link" href="/admin/offers">
                            <span class="align-middle">Offer</span>
                        </a>
                    </li>

                    <li class="sidebar-item">
                        <a class="sidebar-link" href="/admin/coupon">
                            <span class="align-middle">Coupon</span>
                        </a>
                    </li>

                    <li class="sidebar-item">
                        <a class="sidebar-link" href="/admin/transaction">
                            <span class="align-middle">Transaction</span>
                        </a>
                    </li>

                    <li class="sidebar-header">User Mangement</li>

                    <li class="sidebar-item">
                        <a class="sidebar-link" href="/admin/users">
                            <span class="align-middle">Users</span>
                        </a>
                    </li>

                    <li class="sidebar-header">Other</li>

                    <li class="sidebar-item">
                        <a class="sidebar-link" href="/admin/logout">

                            <span class="align-middle">Logout</span>
                        </a>
                    </li>

                </ul>
            </div>
        </nav>

        <div class="main">
            <nav class="navbar navbar-expand navbar-light navbar-bg">
                <a class="sidebar-toggle js-sidebar-toggle">
                    <i class="hamburger align-self-center"></i>
                </a>

                <div class="navbar-collapse collapse">
                    <ul class="navbar-nav navbar-align"></ul>
                </div>
            </nav>

            <main class="content">
                <div class="container-fluid p-0">
                    <h1 class="h3 mb-3"><strong>Dashboard</strong></h1>
                </div>
                <div class="row">
                    <div class="col-xl-12  d-flex">
                        <div class="w-100">
                            <div class="row">
                                <!-- <div class="col-sm-3">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col mt-0">
                                                    <h5 class="card-title">Total revenue</h5>
                                                </div>

                                                <div class="col-auto">
                                                    <div class="stat text-primary">
                                                        <i class="align-middle" data-feather="truck"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <h1 class="mt-1 mb-3">2.382</h1>
                                            <div class="mb-0">
                                                <span class="text-danger"> <i class="mdi mdi-arrow-bottom-right"></i>
                                                    -3.65% </span>
                                                <span class="text-muted">Since last week</span>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->
                                <div class="col-sm-3">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col mt-0">
                                                    <h5 class="card-title">Users</h5>
                                                </div>

                                                <div class="col-auto">
                                                    <div class="stat text-primary">
                                                        <i class="align-middle" data-feather="users"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <h1 class="mt-1 mb-3">
                                                <%= userCount %>
                                            </h1>

                                            <!-- <div class="mb-0">
                                                <span class="text-success"> <i class="mdi mdi-arrow-bottom-right"></i>
                                                    5.25% </span>
                                                <span class="text-muted">Since last week</span>
                                            </div> -->
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col mt-0">
                                                    <h5 class="card-title">Earnings</h5>
                                                </div>

                                                <div class="col-auto">
                                                    <div class="stat text-primary">
                                                        <i class="align-middle" data-feather="dollar-sign"></i>
                                                    </div>
                                                </div>
                                            </div>

                                            <h1 class="mt-1 mb-3">₹<%= total.totalAmount.toFixed(2) %>
                                            </h1>
                                            <!-- <div class="mb-0">
                                                <span class="text-success"> <i class="mdi mdi-arrow-bottom-right"></i>
                                                    6.65% </span>
                                                <span class="text-muted">Since last week</span>
                                            </div> -->
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col mt-0">
                                                    <h5 class="card-title">Orders</h5>
                                                </div>

                                                <div class="col-auto">
                                                    <div class="stat text-primary">
                                                        <i class="align-middle" data-feather="shopping-cart"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <h1 class="mt-1 mb-3">
                                                <%= total.totalOrders %>
                                            </h1>
                                            <!-- <div class="mb-0">
                                                <span class="text-danger"> <i class="mdi mdi-arrow-bottom-right"></i>
                                                    -2.25% </span>
                                                <span class="text-muted">Since last week</span>
                                            </div> -->
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-7 col-xxl-7">
                        <div class="card flex-fill w-100">
                            <div class="d-flex justify-content-between card-header">
                                <span class="card-title">Sale Statistics</span>
                                <select id="frequency" class="form-select mb-3" onchange="handleChange()"
                                    style="width: auto;">
                                    <option value="Daily">Daily</option>
                                    <option value="Weekly">Weekly</option>
                                    <option value="Monthly">Monthly</option>
                                </select>

                            </div>
                            <div class="card-body py-3">
                                <div class="chart chart-sm">
                                    <canvas id="chartjs-dashboard-line"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-5 col-xxl-5 ">
                        <div class="card flex-fill w-100">
                            <div class="card-header">

                                <h5 class="card-title mb-0">Browser Usage</h5>
                            </div>
                            <div class="card-body d-flex">
                                <div class="align-self-center w-100">
                                    <div class="py-3">
                                        <div class="chart chart-xs">
                                            <canvas id="chartjs-dashboard-pie"></canvas>
                                        </div>
                                    </div>

                                    <table class="table mb-0">
                                        <tbody>
                                            <tr>
                                                <td>COD</td>
                                                <td class="text-end" id="COD">0</td>
                                            </tr>
                                            <tr>
                                                <td>Razor pay</td>
                                                <td class="text-end" id="paypal">0</td>
                                            </tr>
                                            <tr>
                                                <td>Wallet</td>
                                                <td class="text-end" id="wallet">0</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="row">
                    <div class="col-12 col-lg-6 col-xxl-6 d-flex">
                        <div class="card flex-fill">
                            <div class="card-header">

                                <h5 class="card-title mb-0">TOP Selling Products</h5>
                            </div>
                            <table class="table table-hover my-0">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Quantity</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% top10ProductsList.forEach(product=> { %>
                                        <tr>
                                            <td>
                                                <%= product.Product[0].name %>
                                            </td>
                                            <td>
                                                <%= product.totalQuantity %>
                                            </td>

                                        </tr>
                                        <% }) %>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 col-xxl-6 d-flex">
                        <div class="card flex-fill">
                            <div class="card-header">

                                <h5 class="card-title mb-0">TOP Selling Categories</h5>
                            </div>
                            <table class="table table-hover my-0">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Quantity</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <% top10CategoryList.forEach(product=> { %>
                                        <tr>
                                            <td>
                                                <%= product._id %>
                                            </td>
                                            <td>
                                                <%= product.totalQuantity %>
                                            </td>

                                        </tr>
                                        <% }) %>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
    <script src="/js/app.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simplebar@latest/dist/simplebar.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        const initialize = () => {
            initializeSimplebar();
            initializeSidebarCollapse();
            renderPieChart()
            renderSalesChart("Daily")
        };

        async function renderPieChart() {
            try {
                const response = await fetch(`/admin/pie-chart`)
                const dataJS = await response.json();
                console.log(dataJS)
                let data = [];
                dataJS.forEach((e) => {
                    let element = document.querySelector(`#${e._id}`)
                    element.textContent = e.totalOrders
                    data.push(e.totalOrders)
                })


                console.log(data)
                new Chart(document.getElementById("chartjs-dashboard-pie"), {
                    type: "pie",
                    data: {
                        labels: ["COD", "Razor pay", "Wallet"],
                        datasets: [{
                            data: data,
                            backgroundColor: [
                                window.theme.primary,
                                window.theme.warning,
                                window.theme.danger
                            ],
                            borderWidth: 5
                        }]
                    },
                    options: {
                        responsive: !window.MSInputMethodContext,
                        maintainAspectRatio: false,
                        legend: {
                            display: false
                        },
                        cutoutPercentage: 75
                    }
                });
            } catch (error) {
                console.log(error)
                Swal.fire({
                    icon: "error",
                    title: "Oops...",
                    text: "Something went wrong!",
                    timer: 1500,
                });
            }
        }

        function handleChange() {
            var selectedValue = document.getElementById("frequency").value;
            console.log("Selected value: " + selectedValue);
            // You can perform any action based on the selected value here
            renderSalesChart(selectedValue)
        }


        async function renderSalesChart(period) {
            try {
                const response = await fetch(`/admin/sales-chart/${period}`)
                const data = await response.json();
                if (!response.ok) {

                    return Swal.showValidationMessage(`${data.message}`);
                }

                const salesArray = [];
                const ordersArray = [];
                const timeArray = [];

                data.forEach(item => {
                    salesArray.push(item.sales);
                    ordersArray.push(item.orders);
                    timeArray.push(item.time);
                });

                const footer = (tooltipItems) => {
                    let orders = 0;
                    data.forEach((report) => {
                        if (report.time == tooltipItems[0].label) {
                            orders = report.orders
                        }
                    })
                    return 'Orders:' + orders;
                }


                let stepSize=2500

                if(period=="Weekly"){
                    stepSize=4000
                }else if(period=="Monthly"){
                    stepSize=7500
                }

                var ctx = document.getElementById("chartjs-dashboard-line").getContext("2d");
                var gradient = ctx.createLinearGradient(0, 0, 0, 225);
                gradient.addColorStop(0, "rgba(215, 227, 244, 1)");
                gradient.addColorStop(1, "rgba(215, 227, 244, 0)");
                // Line chart
                new Chart(document.getElementById("chartjs-dashboard-line"), {
                    type: "line",
                    data: {
                        labels: timeArray,
                        datasets: [{
                            label: "Sales (₹)",
                            fill: true,
                            backgroundColor: gradient,
                            borderColor: window.theme.primary,
                            data: salesArray
                        }]
                    },
                    options: {
                        maintainAspectRatio: false,
                        legend: {
                            display: false
                        },
                        tooltips: {
                            callbacks: {
                                footer: footer
                            }
                        },
                        hover: {
                            intersect: true
                        },
                        plugins: {
                            filler: {
                                propagate: false
                            },
                        },
                        scales: {
                            xAxes: [{
                                reverse: true,
                                gridLines: {
                                    color: "rgba(0,0,0,0.0)"
                                }
                            }],
                            yAxes: [{
                                ticks: {
                                    stepSize:stepSize
                                },
                                display: true,
                                borderDash: [3, 3],
                                gridLines: {
                                    color: "rgba(0,0,0,0.0)"
                                }
                            }]
                        }
                    }
                });
            } catch (error) {
                console.log(error)
                Swal.fire({
                    icon: "error",
                    title: "Oops...",
                    text: "Something went wrong!",
                    timer: 1500,
                });
            }

        }


        const initializeSimplebar = () => {
            const simplebarElement =
                document.getElementsByClassName("js-simplebar")[0];

            if (simplebarElement) {
                const simplebarInstance = new SimpleBar(
                    document.getElementsByClassName("js-simplebar")[0]
                );

                /* Recalculate simplebar on sidebar dropdown toggle */
                const sidebarDropdowns = document.querySelectorAll(
                    ".js-sidebar [data-bs-parent]"
                );

                sidebarDropdowns.forEach((link) => {
                    link.addEventListener("shown.bs.collapse", () => {
                        simplebarInstance.recalculate();
                    });
                    link.addEventListener("hidden.bs.collapse", () => {
                        simplebarInstance.recalculate();
                    });
                });
            }
        };

        const initializeSidebarCollapse = () => {
            const sidebarElement = document.getElementsByClassName("js-sidebar")[0];
            const sidebarToggleElement =
                document.getElementsByClassName("js-sidebar-toggle")[0];

            if (sidebarElement && sidebarToggleElement) {
                sidebarToggleElement.addEventListener("click", () => {
                    sidebarElement.classList.toggle("collapsed");

                    sidebarElement.addEventListener("transitionend", () => {
                        window.dispatchEvent(new Event("resize"));
                    });
                });
            }
        };

        document.addEventListener("DOMContentLoaded", () => initialize());

    </script>

</body>

</html>