<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Responsive Admin &amp; Dashboard Template based on Bootstrap 5" />
    <meta name="author" content="AdminKit" />
    <meta name="keywords"
        content="adminkit, bootstrap, bootstrap 5, admin, dashboard, template, responsive, css, sass, html, theme, front-end, ui kit, web" />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="shortcut icon" href="img/icons/icon-48x48.png" />

    <link rel="canonical" href="https://demo-basic.adminkit.io/" />

    <title>AdminKit Demo - Bootstrap 5 Admin Template</title>

    <link href="css/app.css" rel="stylesheet" />
    <link href="css/sample.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simplebar@latest/dist/simplebar.css" />
</head>

<body>
    <div class="wrapper">
        <nav id="sidebar" class="sidebar js-sidebar">
            <div class="sidebar-content js-simplebar">
                <a class="sidebar-brand" href="/admin/dashboard">
                    <span class="align-middle">Vertex</span>
                </a>
                <ul class="sidebar-nav">
                    <li class="sidebar-header">Menu</li>

                    <li class="sidebar-item">
                        <a class="sidebar-link" href="/admin/dashboard">
                            <span class="align-middle">Dashboard</span>
                        </a>
                    </li>

                    <li class="sidebar-item">
                        <a class="sidebar-link" href="/admin/products">
                            <span class="align-middle">Products</span>
                        </a>
                    </li>

                    <li class="sidebar-item">
                        <a class="sidebar-link" href="/admin/category">
                            <span class="align-middle">Category</span>
                        </a>
                    </li>

                    <!-- <li class="sidebar-item ">
                        <a class="sidebar-link" href="/admin/attributes">
                            <span class="align-middle">Attributes</span>
                        </a>
                    </li> -->

                    <li class="sidebar-item">
                        <a class="sidebar-link" href="/admin/orders">
                            <span class="align-middle">Orders</span>
                        </a>
                    </li>

                    <li class="sidebar-item">
                        <a class="sidebar-link" href="/admin/offers">
                            <span class="align-middle">Offer</span>
                        </a>
                    </li>

                    <li class="sidebar-item">
                        <a class="sidebar-link" href="/admin/coupon">
                            <span class="align-middle">Coupon</span>
                        </a>
                    </li>

                    <li class="sidebar-item">
                        <a class="sidebar-link" href="/admin/transaction">
                            <span class="align-middle">Transaction</span>
                        </a>
                    </li>

                    <li class="sidebar-header">User Mangement</li>

                    <li class="sidebar-item active">
                        <a class="sidebar-link" href="/admin/users">
                            <span class="align-middle">Users</span>
                        </a>
                    </li>

                    <li class="sidebar-header">Other</li>

                    <li class="sidebar-item">
                        <a class="sidebar-link" href="/admin/logout">
                            <span class="align-middle">Logout</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="main">
            <nav class="navbar navbar-expand navbar-light navbar-bg">
                <a class="sidebar-toggle js-sidebar-toggle">
                    <i class="hamburger align-self-center"></i>
                </a>

                <div class="navbar-collapse collapse">
                    <ul class="navbar-nav navbar-align"></ul>
                </div>
            </nav>

            <main class="content">
                <div class="container-fluid p-0">
                    <h1 class="h3 mb-3"><strong>Users</strong></h1>
                </div>
                <div class="row">
                    <div class="col-12 d-flex justify-content-between">
                        <div class=" ">
                            <div class="btn-group btn-group-lg mb-3" role="group" aria-label="Large button group">

                                <a href="/admin/users"
                                    class="btn  <%= status !== 'false' && status!=='true' ? 'active btn-secondary' : 'btn-outline-secondary' %>">
                                    All
                                </a>

                                <a href="/admin/users?status=false"
                                    class="btn <%= status === 'false' ? 'active btn-secondary' : 'btn-outline-secondary' %>">
                                    Active
                                </a>

                                <a href="/admin/users?status=true"
                                    class="btn  <%= status === 'true' ? 'active btn-secondary' : 'btn-outline-secondary' %>">
                                    Blocked
                                </a>

                            </div>
                        </div>
                        <!-- <div class="">
                            <button class="d-flex btn  text-center btn-secondary btn-lg">Select Date
                                <div class="calendar"></div>
                            </button>
                        </div> -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 d-flex">
                        <div class="card flex-fill">
                            <input type="text" id="myInput" onkeyup="myFunction()" class="form-control"
                                placeholder="Search..." />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 d-flex">
                        <div class="card flex-fill">
                            <div class="table-responsive-md">
                                <table id="myTable" class="table table-hover my-0">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th class="">Email</th>
                                            <th>Created At</th>
                                            <th></th>
                                            <th>Status</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% if (users.length<=0 ) { %>
                                            <tr>
                                                <td colspan="7">No Users</td>
                                            </tr>
                                            <% } else { %>
                                                <% users.forEach(user=> { %>

                                                    <tr class="userRow">
                                                        <input type="hidden" class="hiddenUserId"
                                                            value="<%= user._id %>" />
                                                        <td class="user-name">
                                                            <%= user.name %>
                                                        </td>
                                                        <td>
                                                            <%= user.email %>
                                                        </td>
                                                        <td>
                                                            <%= user.formattedCreatedAt %>
                                                        </td>
                                                        <td class="">
                                                            <% if (user.isBlocked) { %>

                                                                <button class="btn block-Unblock-btn btn-success btn-md"
                                                                    data-userId="<%= user._id%>" data-action="Unblock">
                                                                    Unbock
                                                                </button>
                                                                <% } else { %>

                                                                    <button
                                                                        class="btn block-Unblock-btn btn-danger btn-md"
                                                                        data-userId="<%= user._id%>"
                                                                        data-action="Block">Block</button>
                                                                    <% } %>
                                                        </td>
                                                        <td>
                                                            <% if (user.isVerified) { %>

                                                                <span class="text-success">verified</span>
                                                                <% } else { %>

                                                                    <span class="text-danger">Not verified</span>

                                                                    <% } %>
                                                        </td>
                                                        <td>
                                                            <a href="/admin/users/<%= user._id %>">view more</a>
                                                        </td>
                                                    </tr>
                                                    <% }) %>
                                                        <% } %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/simplebar@latest/dist/simplebar.min.js"></script>
    <script>
        const initialize = () => {
            initializeSimplebar();
            initializeSidebarCollapse();

            initializeSomething()
        };

        const initializeSimplebar = () => {
            const simplebarElement =
                document.getElementsByClassName("js-simplebar")[0];

            if (simplebarElement) {
                const simplebarInstance = new SimpleBar(
                    document.getElementsByClassName("js-simplebar")[0]
                );

                /* Recalculate simplebar on sidebar dropdown toggle */
                const sidebarDropdowns = document.querySelectorAll(
                    ".js-sidebar [data-bs-parent]"
                );

                sidebarDropdowns.forEach((link) => {
                    link.addEventListener("shown.bs.collapse", () => {
                        simplebarInstance.recalculate();
                    });
                    link.addEventListener("hidden.bs.collapse", () => {
                        simplebarInstance.recalculate();
                    });
                });
            }
        };

        const initializeSidebarCollapse = () => {
            const sidebarElement = document.getElementsByClassName("js-sidebar")[0];
            const sidebarToggleElement =
                document.getElementsByClassName("js-sidebar-toggle")[0];

            if (sidebarElement && sidebarToggleElement) {
                sidebarToggleElement.addEventListener("click", () => {
                    sidebarElement.classList.toggle("collapsed");

                    sidebarElement.addEventListener("transitionend", () => {
                        window.dispatchEvent(new Event("resize"));
                    });
                });
            }
        };


        const initializeSomething = () => {
            const userIds = document.querySelectorAll(".hiddenUserId");

            const userNames = document.querySelectorAll(".user-name");

            const blockUnblockbtns = document.querySelectorAll(".block-Unblock-btn");


            blockUnblockbtns.forEach((button, index) => {
                button.addEventListener("click", () => blockUnblock(button));
            });
        }

        async function blockUnblock(button) {
            let action = button.getAttribute("data-action")
            let id = button.getAttribute("data-userId")
            // let name = userNames[index].innerText;
            const url = `/admin/users/${id}`;
            try {
                const result = await Swal.fire({
                    title: "Are you sure?",
                    text: `do you want ${action} User!`,
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#3085d6",
                    cancelButtonColor: "#d33",
                    confirmButtonText: `Yes, ${action} it!`,
                });
                if (result.isConfirmed) {
                    const response = await fetch(url, {
                        method: "PATCH",
                    });


                    if (response.ok) {
                        await Swal.fire({
                            title: `${action}ed!`,
                            text: `User has been ${action}ed.`,
                            icon: "success",
                        });
                        window.location.reload();
                    }
                }
            } catch (error) {
                console.log(error);
                Swal.fire({
                    icon: "error",
                    title: "Oops...",
                    text: "Something went wrong!",
                    timer: 1500,
                });
            }
        }


        document.addEventListener("DOMContentLoaded", () => initialize());

        // --------------------
        function myFunction() {
            // Declare variables
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");

            // Loop through all table rows, and hide those who don't match the search query
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>

</html>